<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/style.css" />

		<!-- Grab title from the page data and dump it here -->
		<title>{{global.websiteTitle}}</title>
	</head>
	<body class="reader-bar-start">
		<header>
			<h1><a href="/">{{global.websiteTitle}}</a></h1>
		</header>
		<main class="col-2">
			<div class="left">
				<!-- Grab the content from the page data, dump it here, and mark it as safe -->
				{{content | safe}}
			</div>
			<div class="right">
				<nav>
					<ul>
						{% for section in collections.section %} 
						<li>
							<a href="{{section.url}}">{{section.data.title}}</a>
						</li>
						{% endfor %}
					</ul>

					<h4>Recent Posts</h4>
					<ul>
						{% for post in collections.post | reverse %}
							{% if loop.index <= 3 %}
							<li>
								<a href="{{post.url}}">{{post.data.title}}</a>
							</li>
							{% endif %}
						{% endfor %}
					</ul>

					<h4>My links</h4>
					<ul>
						<li><a href="https://obspogon.neocities.org">Main website</a></li>
						<li><a href="https://twitter.com/obspogon">Twitter</a></li>
					</ul>
				</nav>
			</div>
		</main>
		<footer>
			Made by Obspogon | <a href="https://obspogon.neocities.org">Main Website</a> | <a href="https://twitter.com/obspogon">Twitter</a>
		</footer>
		<script src="//instant.page/5.1.0" type="module" integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"></script>
	</body>
</html>