---
layout: base
---

{{reverse collections.post}}
{{#each collections.post}}
	<div class="post">
		<h2><a href="{{this.url}}">{{this.data.title}}</a></h2>
		{{{excerpt this}}}
	<hr>
	</div>
{{/each}}
