@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");

@font-face {
	font-family: "Sega";
	src: url("/SEGA.TTF") format("truetype");
}

:root {
	--maincolor: gray;
	--border: 2px solid var(--maincolor);
	--default-padding: 1em;
}

body {
	max-width: 10in;
	margin: 2em auto;
	font-family: "Open Sans", sans-serif;
	font-size: large;
	line-height: 1.5;
	align-self: start;
	background-image: url("/bg/city.png");
}

header,
main,
footer {
	border: var(--border);
	padding: var(--default-padding);
	margin: 0.5em;
}

header {
	background-image: url("/bg/header.jpg");
	font-family: "Sega", "Lato", sans-serif;
	text-align: center;
}

header a {
	color: blue;
	background-color: white;
	font-size: larger;
	padding: 0.1em;
	text-decoration: none;
}

hr {
	border: 1px dotted black;
}

code,
code pre {
	font-family: "Roboto Mono", "Courier New", monospace;
}

.col-2 {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	border: 0;
	background-color: transparent;
	padding: 0;
}

.left,
.right {
	padding: 1em;
	margin: 0;
	border: var(--border);
}

.left {
	flex-basis: 75%;
	background-color: #d1e7f0;
}

.right {
	padding-left: 0;
	padding-right: 0;
	flex-basis: 25%;
	background-image: url("./bg/halftone-yellow.png");
}

footer {
	background-image: url("./bg/halftone-yellow.png");
	text-align: center;
}

.right ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.right ul li {
	padding: 0.1em 0.5em;
}

.right ul li:hover {
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.6));
}

.right ul li a {
	display: block;
	width: auto;
	text-decoration: none;
}

.right h4 {
	margin-left: 1em;
}
